* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: absolute;
    height: 100dvh;
    width: 10dvw;
    /* background-color: red; */
    box-shadow: 0.5rem 0rem 0.25rem #800080;
    border-radius: 1rem 1rem;
}

header nav {
    display: flex;
    flex-direction: column;
    height: inherit;
    gap: 0.25rem;
}

img {
    max-width: 100%;
    border-radius: 1rem;
}

header nav > a {
    margin: 0 auto;
}

header nav a.nav-link {
    display: block;
    box-sizing: border-box;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
    text-align: center;
    margin: 0.25rem;
    border-radius: 1rem;
    background-color: #4B0082;
    box-shadow: -0.1rem 0.15rem #fff;

    font-size: 1.2rem;
    text-decoration: none;
    color: #E6E6FA;
    font-weight: 400;
    text-align: center;
}